body {
    text-align: center;
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: #CCC;
    border: #999 1px solid;
    width: 90%;
    padding: 24px;
    margin: 0 auto;
}
#container > div {
    background: url(Question.jpg) no-repeat center;
    border: #000 1px solid;
    width: 100px;
    height: 100px;
    float: left;
    margin: 10px;
    padding: 20px;
    cursor: pointer;
    text-align: center;
}
/* .box {
    display: inline-block;
    border: solid black 1px;
    width: 100px;
    height: 100px;
    margin: 10px;
}

.hidden img {
    display: none;
} */